body {
  font-family: Arial, sans-serif;
  background-color: #438349;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.botones button {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.botones button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.titulo h1 {
  margin-left: 20px;
}

.linea_separacion {
  border: 1px solid white;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 8%;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 0px
}


tr:hover {
  background-color: #127005;
}

form {
  display: inline;
}

button {
  background-color: #fdfcfc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
