* {
  background-color: #438349;
  margin-left: 36px;
  border-radius: 29px;
  margin-left: 45px;
  border: 0;
}

img {
  width: 126px;
  position: absolute;
  left: -2%;
}


.botones {
  display: flex; /* Utiliza un diseño flexible para los botones */
  gap: 5px; /* Espacio entre los botones */
  background-color: white;
  border-radius:8px ;
  padding:7px;
}

.botones button {
  margin-right: 5px; /* Espacio adicional entre los botones */
  background-color: white;
  border: 0;
}


.botones2{
  display: flex; /* Utiliza un diseño flexible para los botones */
  gap: 5px; /* Espacio entre los botones */
  border-radius:8px ;
  padding:7px;
  position: relative;
  top: 176px;
}

.botones2 button {
  margin-right: 506px; /* Espacio adicional entre los botones */
  border: 0;
}

hr {
  background-color: white;
  height: 3px;
  width:  10%;
  margin-left: 10px;
}