* {
  background-color: #438349;
  margin-left: 36px;
  border-radius: 29px;
  margin-left: 45px;
  border: 0;
}

img {
  width: 126px;
  position: absolute;
  left: -2%;
}


.botones {
  display: flex; /* Utiliza un diseño flexible para los botones */
  gap: 5px; /* Espacio entre los botones */
  background-color: white;
  border-radius:8px ;
  padding:7px;
}

.botones button {
  margin-right: 5px; /* Espacio adicional entre los botones */
  background-color: white;
  border: 0;
}

.formulari button{
  background-color: gray
}
.nameuser {
  position: absolute;
  display: none; /* Inicialmente oculto */
  background-color: white; /* Fondo blanco */
  border: 1px solid black; /* Borde */
  padding: 10px; /* Espaciado interno */
  position: absolute;
  top: 60px;
  margin-left: 400px;
}

.Grupo{
    position: absolute;
    display: none; /* Inicialmente oculto */
    background-color: white; /* Fondo blanco */
    border: 1px solid black; /* Borde */
    padding: 10px; /* Espaciado interno */
    position: absolute;
    top: 60px;
    margin-left: 100px;
}